<!DOCTYPE html>
<html>
<% @@include="/includes/header-datatables.html" %>

    <body class="user-center-body">

        <div class="loading-bg"></div>

        <!-- 顶部和菜单栏 -->
        <% @@include="/includes/entrance-and-topbar.html" %>

            <div class="module-wrap user-center-wrap">
                <div class="wrap-container user-center-contaienr">
                    <% @@include="/includes/user-center-left-container.html" %>
                        <div class="right-container" data-url="student/student-share.html">
                            <div class="student-high-mark">
                                <div class="tool-container">
                                    <!-- <button type="button" class="btn-add btn btn-red">
                                        <i class="fa fa-plus"></i> 添加</button> -->
                                </div>
                                <!-- 搜索 -->
                                <div class="module-wrap">
                                    <div class="table-search-container">
                                        <form class="clearfix">
                                            <div class="form-group">
                                                <label for="exampleInputName2">搜索：</label>
                                            </div>
                                            <div class="form-group">
                                                <select name="searchSelect">
                                                    <option value="">全部</option>
                                                    <option value="StageDescribe">阶段名称</option>
                                                    <option value="CourseDescribe">课次名称</option>
                                                    <option value="Grade">分数</option>
                                                    <option value="CreatedAt">创建时间</option>
                                                </select>
                                            </div>
                                            <div class="search-input-box change-box form-group hidden">
                                                <input type="text" name="searchValue" placeholder="搜索内容" />
                                            </div>
                                            <div class="datetime-box change-box form-group hidden">
                                                <input id="start-datetime" name="start" data-layuidate="date" placeholder="开始时间" />
                                                <input id="end-datetime" name="end" data-layuidate="date" placeholder="结束时间" />
                                            </div>
                                            <div class="isbegin-box change-box form-group hidden">
                                                <select name="IsAudit">
                                                    <option value="true">通过</option>
                                                    <option value="false">未通过</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    <input type="checkbox" name="isSearchLike" /> 精准搜索
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    <input type="checkbox" name="searchInResult" /> 在结果中搜索
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <button type="button" class="btn btn-default btn-sm serach-btn">搜索</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="table-container">
                                    <table class="" id="table" width="100%">
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            


            <% @@include="/includes/body-footer.html" %>
                <% @@include="/includes/footer-datatables.html" %>
                    <script src="@PATH@js/is-login.js?version=@VERSION@"></script>
                    <script src="@PATH@js/entrance-and-topbar.js?version=@VERSION@"></script>
                    <script src="@PATH@js/user-center-left-container.js?version=@VERSION@"></script>
                    <script src="@PATH@js/student-share.js?version=@VERSION@"></script>
    </body>

</html>