.box {
    padding: 30px;
    .box-header {
        margin-bottom: 28px;
        height: 28px;
        text-align: center;
        .title {
            height: 56px;
            line-height: 56px;
            margin: 0 auto;
            padding: 0 20px;
            font-size: 32px;
            background: #fff;
            font-weight: 100;
        }
    }
    .box-body {
        padding-top: 20px;
    }
}