<!DOCTYPE html>
<html>
<% @@include="/includes/header.html" %>
    <!-- <link rel="stylesheet" href="@PATH@lib/filter/css/1118houseSecond.css"> -->

    <body class="high-mark-body">

        <div class="loading-bg"></div>

        <!-- 顶部和菜单栏 -->
        <% @@include="/includes/entrance-and-topbar.html" %>

            <div class="module-wrap">
                <div class="wrap-container high-mark-detail-container">
                    <div class="left-container">
                        <div class="header">
                            <h1>点击右下角的联系客服</h1>
                            <div class="author">
                                <div class="info">
                                    <span class="name"></span>
                                </div>
                                <div class="meta">
                                    <span class="publish-time"></span>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                        </div>
                    </div>
                </div>
            </div> 


            <% @@include="/includes/body-footer.html" %>
            <% @@include="/includes/footer.html" %>
            <script src="@PATH@js/entrance-and-topbar.js?version=@VERSION@"></script>
            <script src='//kefu.easemob.com/webim/easemob.js?configId=6f251049-3f3a-41c7-9f21-9e2c13282832'></script>

    </body>

</html>