<!DOCTYPE html>
<html>
<% @@include="/includes/header.html" %>
    <!-- <link rel="stylesheet" href="@PATH@lib/filter/css/1118houseSecond.css"> -->

    <body class="bottom-rich-text-body">

        <div class="loading-bg"></div>

        <!-- 顶部和菜单栏 -->
        <% @@include="/includes/entrance-and-topbar.html" %>

            <div class="module-wrap">
                <div class="wrap-container">
                    <div class="left-container">
                        <div class="header">
                            <h1></h1>
                            <div class="author">
                                <div class="meta">
                                    <span class="publish-time"></span>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                        </div>
                    </div>
                </div>
            </div> 


            <% @@include="/includes/body-footer.html" %>
                <% @@include="/includes/footer.html" %>
                    <script src="@PATH@js/entrance-and-topbar.js?version=@VERSION@"></script>
                    <script src="@PATH@js/bottom-rich-text.js?version=@VERSION@"></script>
    </body>

</html>